body {
    margin: 0;
     padding: 0;
  height: 100vh;
    background-image: url(/defint/image/register.jpeg);
    
   
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 870px;
    border: 1px solid #9c9c9c;
    background-color: #EAEAEA;
    opacity: 0.9;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }